*{
    margin: 0;
    padding: o;
    box-sizing: border-box;
}

/* inizio utilities*/
/*fine utilities*/

/*inizio header*/
/*fine header*/

/*inizio main*/
/*fine main*/

/*inizio footer*/
/*fine footer*/